.main-review-container {
  border: 2px solid sandybrown;
  width: 32%;
  margin-right: 10px;
  border-radius: 10px;
}

.review-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}